body {
	height: 100%;
	width: 100%;
}

.navbar-light-blue {
	background-color: #4285f4 !important;
}

.bg-light-blue {
	background-color: #4285f4;
}

.montserrat-font {
	font-family: 'Montserrat', sans-serif;
}

.nunito-font {
	font-family: 'Nunito', sans-serif;
}

.raleway-font {
	font-family: 'Raleway', sans-serif;
}

.miriam-font {
	font-family: 'Miriam Libre', sans-serif;
}

.light-blue-line {
	border: 2px solid #4285f4;
	border-radius: 4px;
	width: 50%;
}

nav a.h3 {
	text-decoration: none;
}

.scrolled {
	padding: 2%;
	transition: all 0.6s;
}

#previous-content {
	background: url('/img/default.png') no-repeat center fixed;
	height: 600px;
}

#previous-content .overlay {
	height: inherit;
	width: inherit;
	background-color: #222;
	opacity: 0.8;
}

#carousel img {
    width: 50%;
}

#header {
	background: url('/img/header.png') no-repeat center fixed;
	height: 280px;
}

#header .overlay {
	background-color: #222;
	height: inherit;
	width: inherit;
	opacity: 0.8;
}

#service img {
	opacity: 0.8;
}